第一课

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import timedelta, date
import math

In [7]:
N=5

df = pd.DataFrame({
    'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
    'x': np.linspace(0,stop=N-1,num=N),
    'y': np.random.rand(N),
    'C': np.random.choice(['Low','Medium','High'],N).tolist(),
    'D': np.random.normal(100, 10, size=(N)).tolist()
    })
df

           A    x         y       C           D
0 2016-01-01  0.0  0.977868  Medium  107.370998
1 2016-01-02  1.0  0.494450    High   94.416366
2 2016-01-03  2.0  0.397129    High  108.574254
3 2016-01-04  3.0  0.583244     Low   96.365544
4 2016-01-05  4.0  0.565703     Low  115.345973

In [8]:
for col in df:
   print (col)

A
x
y
C
D

In [13]:
for key,value in df.items():
   print(key,value)

('D',
 0    107.370998
 1     94.416366
 2    108.574254
 3     96.365544
 4    115.345973
 Name: D, dtype: float64)

In [14]:
for row_index,row in df.iterrows():
   print(row_index,row)

0 A    2016-01-01 00:00:00
x                    0.0
y               0.977868
C                 Medium
D             107.370998
Name: 0, dtype: object
1 A    2016-01-02 00:00:00
x                    1.0
y                0.49445
C                   High
D              94.416366
Name: 1, dtype: object
2 A    2016-01-03 00:00:00
x                    2.0
y               0.397129
C                   High
D             108.574254
Name: 2, dtype: object
3 A    2016-01-04 00:00:00
x                    3.0
y               0.583244
C                    Low
D              96.365544
Name: 3, dtype: object
4 A    2016-01-05 00:00:00
x                    4.0
y               0.565703
C                    Low
D             115.345973
Name: 4, dtype: object

In [15]:
for row in df.itertuples():
    print(row)

Pandas(Index=0, A=Timestamp('2016-01-01 00:00:00'), x=0.0, y=0.9778682376267916, C='Medium', D=107.37099839331876)
Pandas(Index=1, A=Timestamp('2016-01-02 00:00:00'), x=1.0, y=0.4944504712551455, C='High', D=94.41636633323057)
Pandas(Index=2, A=Timestamp('2016-01-03 00:00:00'), x=2.0, y=0.39712929217567705, C='High', D=108.57425423943263)
Pandas(Index=3, A=Timestamp('2016-01-04 00:00:00'), x=3.0, y=0.5832437612213637, C='Low', D=96.36554365660571)
Pandas(Index=4, A=Timestamp('2016-01-05 00:00:00'), x=4.0, y=0.5657034541903373, C='Low', D=115.34597298381597)

In [38]:
df = pd.DataFrame({"dept": np.random.choice(["IT", "HR", "Sales", "Production"], size=50),
                   "gender": np.random.choice(["F", "M"], size=50),
                   "age": np.random.randint(22, 60, size=50),
                   "salary": np.random.randint(20000, 90000, size=50)})
df.index.name = "emp_id"
 
# Calculate mean data of gender groups
df.groupby(['dept', 'gender'])['salary'].agg(["min", "max", "mean", "count"])
df.groupby(['dept', 'gender']).agg({'salary': 'mean', 'age': ['min', 'max']})
df["age"].groupby(df['dept']).describe()

df['mean_sal_diff'] = df['salary'].groupby(
    df['dept']).transform(lambda x: x - x.mean())
df.head()

              dept gender  age  salary  mean_sal_diff
emp_id
0       Production      M   55   49785  -13333.000000
1            Sales      F   37   51012  -19384.363636
2               HR      M   35   64740    5221.619048
3               IT      M   35   24063  -24902.777778
4               HR      F   45   89524   30005.619048

In [7]:
s = 'Hello, Runoob'
str(s)

repr(s)

repr(1/7)

str(1/7)

'0.14285714285714285'